<div class="goalsinfo padded">
	<p class="created">You've created this activity!</p>
	<h3><%= @goal.title %>
	<span class="date"><%= @goal.date.strftime("%d %b") %></span></h3>

</div>


<div class="postinvite padded">
	<p class="addinvite">Invite your friends.</p>
	<a href="#" class="btn black arrow" id="<%= current_user ? 'facebook-share' : 'facebook-login' %>" ><span class='facebook'>Post to Facebook</span></a>
</div>

<%= link_to "Done", goal_path(@goal), :class => "btn black arrow" %>

<script type="text/javascript">
  var inviteLink = "<%= invite_url(:id => @goal.token) %>";
  var titleShare = "<%= @goal.title %>";
</script>
