<h3>Activities near you</h3>
<ul class="tableview">
<% @goals.each do |goal| %>
  <li>
   <%= link_to user_fb_picture(goal.user, 'square', :class => 'avatar'), goal.user %>
     <div class="showtitle"><%= link_to goal.title, goal_path(goal) %></div>
    <%= goal.city.name %>
    <%= goal.date.strftime("%m/%y") %>
    <%= link_to "I'm interested", join_goal_memberships_path(goal) unless current_user && (goal.user == current_user || current_user.joined?(goal)) %>
  </li>
<% end %>
</ul>

