<%= render :partial => "landing" %>

<div class="newgoal padded">
  <%= form_for resource do |form| %>
    <%= hidden_field_tag("goal[user_id]", current_user.id) unless current_user.nil? %>
    <p>
      <%= form.text_area :title, :placeholder => "What do you want to do?" %>
    </p>
    <p>

  <div class="location">
  	<div class="locationwrap">
  	<span class="current">
      <%= form.text_field :location, :placeholder => "Where?", :id => 'location-text' %>
    </span>
  	<div class="droplocation hide">
      <%= form.select :city_id, City.to_options %>
  	</div>
	</div>
	<a href="#" id="showdropdown">Change</a>
  </div>

    </p>
      <%= form.submit "Do it", :class => "btn" %>
    </p>
  <% end %>

</div>

<div class="seegoal padded bordered">
  <%= link_to "<em></em> Activities near you".html_safe, goals_path, :id => "view-activities", :class => "btn black arrow" %>
</div>

<div class="login padded bordered acenter">
<% if !logged_in? %>
  <a href="#" id="facebook-login" class="">Already have an account?</a>
<% else %>
  Hello, <%= current_user.name %>! (<%= link_to "Logout", "/signout" %> )
<% end %>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  $(document).ready(function() {
    initialize();

    $("#view-activities").click(function() {

    });
  });

  var geocoder;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
  }
  //Get latitude and longitude;
  function successFunction(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
      codeLatLng(lat, lng);
  }

  function errorFunction(message) {

  }

  function initialize() {
    geocoder = new google.maps.Geocoder();
  }

  function codeLatLng(lat, lng) {
    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
         //formatted address
         //alert(results[0].formatted_address)
        //find country name
             for (var i=0; i<results[0].address_components.length; i++) {
            for (var b=0;b<results[0].address_components[i].types.length;b++) {

            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                if (results[0].address_components[i].types[b] == "locality") {
                    //this is the object you are looking for
                    city= results[0].address_components[i];
                    break;
                }
            }
        }
        //city data
        $("#location-text").val(city.short_name);
        $("#view-activities").attr("href", "<%= goals_path %>" + "?city=" + encodeURIComponent(city.short_name));

        } else {
          console.log("No results found");
          return "";
        }
      } else {
        console.log("Geocoder failed due to: " + status);
        return "";
      }
    });
  }
</script>