<div class="goaltop">
<p class="title">
  <%= resource.title %>
</p>
<%= link_to "Join", join_goal_path(resource) unless current_user.joined?(resource) %>
<ul class="members">
  <% resource.members.each do |user| %>
    <li><%= link_to user_fb_picture(user, 'square', :class => 'avatar'), user %></li>
  <% end %>
</ul>

</ul>
</div>

<div class="interaction">
	<ul class="tableview">
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
	</ul>
</div>