<div class="goaltop">
<p class="title">
  <%= resource.title %>
</p>
<ul class="members">
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>
	<li><%= link_to (image_tag "xxx", :class => "avatar" ), "xx" %></li>

</ul>
</div>

<div class="interaction">
	<ul class="tableview">
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
		<li>
			<%= link_to (image_tag "xxx", :class => "avatar" ), "xx", :class => "fleft" %>
			<div class="conversation">
				<p><strong>Username</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				proident deserunt mollit anim id est laborum.</p>
			</div>
		</li>
	</ul>
</div>