<div class="goaltop">
<p class="title">
  <%= resource.title %>
  <%= link_to user_fb_picture(resource.user, 'square', :class => 'avatar'), user_path(resource.user) %>
</p>
<%= link_to "Join", join_goal_path(resource) unless current_user.joined?(resource) %>
<ul class="members">
  <% resource.members.each do |user| %>
    <li><%= link_to user_fb_picture(user, 'square', :class => 'avatar'), user_path(user) %></li>
  <% end %>
</ul>
<p>
  <%= link_to "Manage membership", goal_memberships_path(resource) unless resource.memberships.pending.blank? %>
</p>

</div>

<div class="addstatus">
	<%= form_for @post, :html => { :"data-remote" => true } do |form| %>
	 	<%= form.hidden_field :user_id, :value => current_user.id %>
	 	<%= form.hidden_field :goal_id, :value => resource.id %>
		<%= form.text_area :content, :size => "40x2" %>
		<%= form.submit "Post", :class=> "btn black" %>
	<% end %>
</div>

<div class="interaction">
	<ul class="tableview" id="posts-list">
		<% @posts.each do |post| %>
			<li>
			<%= link_to user_fb_picture(post.user, 'square', :class => 'avatar'), post.user, :class => "fleft" %>
			<div class="conversation">
				<p><strong><%= post.user.username %></strong></p>
				<p><%= post.content %></p>
			</div>
		</li>
		<% end %>
	</ul>
</div>